<h2>Edit Profile</h2>

<%= form_for [@user, @profile] do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :gender %>
  <%= f.text_field :gender %>

  <%= f.label :location %>
  <%= f.text_field :location %>

  <%= f.label :interests %>
  <%= f.text_field :interests %>

  <%= f.submit %>
<% end %>
