<%= link_to "return to main", '/homepage' %>

<h1>Meet the community</h1>
<% @profiles.each do |profile| %>

  <h2> <%=profile.username %> </h2>
  <p><%=profile.age %></p>
  <p><%=profile.gender %></p>
  <p><%=profile.interests %></p>
  <p><%=profile.location %></p>

  <% end %>
