<%= link_to "return to main", '/homepage' %>



<p> username: <%= @profile.username %></p>
<p> age: <%= @profile.age %></p>
<p> gender: <%= @profile.gender %></p>
<p> location: <%= @profile.location %></p>
<p> interests: <%= @profile.interests %></p>


<%= link_to "edit", edit_user_profile_path(@user, @profile) %>
